<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
  </mat-card-header>
  <mat-card-content>
    <mat-card-title>TABET Belaid Djalal (30 ans)</mat-card-title>
    <mat-card-subtitle>Celibataire.0 Enfants. Permis B.</mat-card-subtitle>
    <mat-card-subtitle>Mobilité toute la France.</mat-card-subtitle>
    <mat-card-subtitle>b_tabet@esi.dz</mat-card-subtitle>
    <mat-card-subtitle>07 68 01 03 64</mat-card-subtitle>
    <mat-card-subtitle>Skype : contact.tabet</mat-card-subtitle>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
