<mat-vertical-stepper>
  <mat-step label="Profil">
    <p>ici je vais mettre le profil</p>
    <div>
      <button mat-button matStepperNext>Next</button>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
  <mat-step label="Compétence technique">
    <div>
      <app-competence-technique>app compétence tehcnique</app-competence-technique>
    </div>
    <div>
      <button mat-button matStepperNext>Next</button>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
  <mat-step label="Compétence Fonctionnelle">
    <p>ici je vais mettre le tableau des compétences fonctionnelle</p>
    <div>
      <button mat-button matStepperNext>Next</button>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
  <mat-step label="Expérience professionnelle">
    <p>ici je vais mettre d'autre stepper</p>
    <mat-vertical-stepper>
      <mat-step label="izyfree"></mat-step>
      <mat-step label="gfi"></mat-step>
      <mat-step label="umanis"></mat-step>
    </mat-vertical-stepper>
  </mat-step>
  <mat-step label="Formation et certification">
    <p>ici je vais mettre le tableau des "Formation et certification"</p>
    <div>
      <button mat-button matStepperNext>Next</button>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
  <mat-step label="Diplôme">
    <p>ici je vais mettre le tableau des Diplômes</p>
    <div>
      <button mat-button matStepperNext>Next</button>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
  <mat-step label="Centre d'interet ">
    <ul>
      <li>Musculation</li>
      <li>Bricolage</li>
      <li>Maçonnerie</li>
      <li>Mécanique</li>
    </ul>
    <div>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
