<button>hello</button>

<div>
  <button mat-button>/mat-button/	Bouton de texte rectangulaire sans élévation</button>
</div>
<div>
  <button mat-raised-button>/mat-raised-button/ Bouton rectangulaire contenu avec élévation</button>

</div>
<div>
  <button mat-flat-button>/mat-flat-button/ Bouton rectangulaire contenu sans élévation</button>

</div>
<div>
  <button mat-stroked-button>/mat-stroked-button/ Bouton rectangulaire avec contour sans élévation</button>
</div>
<div>
  <button mat-icon-button>/mat-icon-button/	Bouton circulaire avec un fond transparent, destiné à contenir une icône</button>
</div>

<div>
  <button mat-fab	Bouton>/mat-fab/	Bouton circulaire avec élévation, par défaut la couleur d'accentuation du thème</button>
</div>
<div>
  <button mat-mini-fab> /mat-mini-fab/ Identique mat-fabmais plus petit</button>
</div>
