<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <h1 mat-list-item routerLink="/MonAffichage">Mon affichage</h1>
      <a mat-list-item routerLink="/AfficherLesAnomalies">Afficher les anomalies</a>
      <a mat-list-item routerLink="/HistoriqueDesChangements">Historique des changements</a>
      <a mat-list-item routerLink="/FeuilleDeRoute">Feuille de route</a>
      <a mat-list-item routerLink="/Resume">Résumé</a>
      <a mat-list-item routerLink="/Gerer">Gérer</a>
      <a mat-list-item routerLink="/CV">CV</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>cvTabet</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
